<div class="d-flex min-vh-100">
  <!-- Sidebar -->
  <div class="bg-dark text-white p-3" style="width: 250px;">
    <h4 class="mb-4 text-center fw-bold">Bulk Gym</h4>

    <div class="d-flex flex-column gap-2">
      <button 
        class="btn btn-sidebar" 
        [class.active]="esRutaActiva('/dashboard')" 
        (click)="navegar('/dashboard')">
        Panel Principal
      </button>
    
      <button 
        class="btn btn-sidebar" 
        [class.active]="esRutaActiva('/clientes')" 
        (click)="navegar('/clientes')">
        Clientes
      </button>
    
 
    
      <button 
        class="btn btn-sidebar" 
        [class.active]="esRutaActiva('/medidas-corporales')" 
        (click)="navegar('/medidas-corporales')">
        Medidas Corporales
      </button>

      <button
        class="btn btn-sidebar"
        [class.active]="esRutaActiva('/empleados')"
        (click)="navegar('/empleados')">
        Empleados
      </button>

      <button
        class="btn btn-sidebar"
        [class.active]="esRutaActiva('/instructores')"
        (click)="navegar('/instructores')">
        Instructores
      </button>

     <button 
        class="btn btn-sidebar" 
        [class.active]="esRutaActiva('/ejercicios')" 
        (click)="navegar('/ejercicios')">
        Ejercicios
      </button>
   
      
    <button 
    class="btn btn-sidebar" 
    [class.active]="esRutaActiva('/categorias')" 
    (click)="navegar('/categorias')">
    Categorías de Ejercicio
  </button>
  
  <button 
    class="btn btn-sidebar" 
    (click)="cerrarSesion()">
    Cerrar Sesión 
    </button>
    </div>
    
  </div>

  <!-- Main content hola -->
  <div class="flex-grow-1 bg-light p-4">
    <router-outlet></router-outlet>
  </div>
</div>
