<h2>Crear Nueva Rutina</h2>
<p>Complete los pasos para crear una rutina personalizada</p>

<mat-horizontal-stepper #stepper>
  <!-- Paso 1: Cliente y Datos -->
  <mat-step label="Cliente y Datos">
    <h3>Seleccionar Cliente e Información Básica</h3>

    <div class="clientes-lista">
      <div *ngFor="let cliente of clientes" (click)="seleccionarCliente(cliente)" class="cliente-item">
        {{ cliente.nombre }} {{ cliente.apellidos }}
      </div>
    </div>

    <div *ngIf="clienteSeleccionado" class="cliente-info">
      <p><strong>Seleccionado:</strong> {{ clienteSeleccionado.nombre }} {{ clienteSeleccionado.apellidos }}</p>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Objetivo</mat-label>
      <input matInput [(ngModel)]="objetivo" placeholder="Ej: Hipertrofia, pérdida de peso...">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Horario</mat-label>
      <input matInput [(ngModel)]="horario">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lesiones</mat-label>
      <input matInput [(ngModel)]="lesiones">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Padecimientos</mat-label>
      <input matInput [(ngModel)]="padecimientos">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="continuar()">Siguiente</button>
  </mat-step>

  <!-- Paso 2: Medidas Corporales -->
  <mat-step label="Medidas Corporales">
  <h3>Seleccione las medidas del cliente</h3>
  <app-item-rutina-medidas></app-item-rutina-medidas>
  <button mat-button matStepperNext>Siguiente</button>
</mat-step>

<!-- Paso 3: Ejercicios -->
<mat-step label="Ejercicios">
  <h3>Seleccione los ejercicios</h3>
  <app-item-rutina-ejercicio></app-item-rutina-ejercicio>

  <button mat-button matStepperNext>Siguiente</button>
</mat-step>
  

  <!-- Paso 4: Resumen -->
  <mat-step label="Resumen">
    <h3>Resumen de la Rutina</h3>

    <p><strong>Cliente:</strong> {{ clienteSeleccionado?.nombre }} {{ clienteSeleccionado?.apellidos }}</p>
    <p><strong>Objetivo:</strong> {{ rutina.objetivo }}</p>
    <p><strong>Horario:</strong> {{ rutina.horario }}</p>
    <p><strong>Lesiones:</strong> {{ rutina.lesiones }}</p>
    <p><strong>Padecimientos:</strong> {{ rutina.padecimientos }}</p>

    <!-- Medidas -->
<h4>Medidas</h4>
<ul>
  <li *ngFor="let m of rutina.medidas">
    ID {{ m.idMedidaCorporal }} - {{ m.valorMedida }} - {{ m.fechaMedicion }}
  </li>
</ul>

<!-- Ejercicios -->
<h4>Ejercicios</h4>
<ul>
  <li *ngFor="let e of rutina.ejercicios">
    ID {{ e.idEjercicio }} - {{ e.series }}x{{ e.repeticiones }} - {{ e.equipo }}
  </li>
</ul>

    <button mat-raised-button color="accent" (click)="finalizar()">Finalizar</button>
  </mat-step>
</mat-horizontal-stepper>
