<!-- entrenador-sidebar.component.html -->
<div class="sidebar">
  <!-- Logo traducible -->
  <div class="logo">
    <span>{{ 'sidebarInst.logo' | translate }}</span>
  </div>
  <mat-nav-list>
    <a mat-list-item routerLink="/instructor" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>{{ 'sidebarInst.panelPrincipal' | translate }}</span>
    </a>
    <a mat-list-item routerLink="/gestion-rutinas" routerLinkActive="active">
      <mat-icon>fitness_center</mat-icon>
      <span>{{ 'sidebarInst.rutinas' | translate }}</span>
    </a>
    <a mat-list-item routerLink="/login">
      <mat-icon>logout</mat-icon>
      <span>{{ 'sidebarInst.cerrarSesion' | translate }}</span>
    </a>
  </mat-nav-list>
</div>
