<!-- entrenador-sidebar.component.html -->
<div class="sidebar">
  <!-- Aquí comienza el logo -->
 <div class="logo">
    <span>BulkGym</span>
  </div>
  <mat-nav-list>
    <a mat-list-item routerLink="/instructor" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Panel Principal</span>
    </a>
    <a mat-list-item routerLink="/gestion-rutinas" routerLinkActive="active">
      <mat-icon>fitness_center</mat-icon>
      <span>Rutinas</span>
    </a>
    <a mat-list-item routerLink="/login">
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </a>
  </mat-nav-list>
</div>
